# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# JetBrains IDE settings
.idea/

# Environment variables
.env
.env.*

.idea

model_cache
